In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
data=pd.read_csv('Iris.csv')
df=pd.DataFrame(data)

In [30]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [32]:
df.shape

(150, 6)

In [33]:
df['Species_re']=df['Species'].map({'Iris-versicolor':0,'Iris-virginica':1,'Iris-setosa':2})

In [34]:
df['Species_re'].value_counts()

0    50
1    50
2    50
Name: Species_re, dtype: int64

In [35]:
df=df.drop(['Species'],axis=1)

In [36]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species_re
0   1            5.1           3.5            1.4           0.2           2
1   2            4.9           3.0            1.4           0.2           2
2   3            4.7           3.2            1.3           0.2           2
3   4            4.6           3.1            1.5           0.2           2
4   5            5.0           3.6            1.4           0.2           2

In [37]:
y=df['Species_re']

In [38]:
X=df.iloc[:,:5]

In [39]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [40]:
y.head()

0    2
1    2
2    2
3    2
4    2
Name: Species_re, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3, random_state=42)

In [44]:
len(X_train)

105

In [45]:
len(X_test)

45

In [47]:
from sklearn.tree import DecisionTreeClassifier

In [48]:
reg=DecisionTreeClassifier()

In [49]:
reg.fit(X_train,y_train)

DecisionTreeClassifier()